body {
    background-color: rgba(188, 200, 207, 0.795);
    background-size: cover;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(32, 5, 5, 0.76);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(54, 37, 37, 0.534);
    font-size: 2 em;
    font-weight:lighter;
    text-align: center;
}
ul{
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    font-style:bold;
    font-size: 1.2em;
        background-color: #684960;
        color: white;
    padding-block-start: 10px;
    padding-block-end: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 600px;
    margin-left:100px;
    border-radius: 15px;
    text-align:left;
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-style:lighter;
    font-size: 1em;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight:normal;
    font-style:italic;
    font-size: 1.2em;
        background-color: #684960;
        color: white;
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 535px;
    margin-left:35px;
    border-radius: 15px;
    text-align:left;
}
img{
    float: right;
    display: block;
    margin-right: 100px;
    margin-left: auto;
    margin-top: 10px;
    max-width: 50%;
    max-inline-size: 400px;
    border-radius: 25px;
    opacity: 0.95;

}
div{
    background-color:rgba(22, 26, 36, 0.904);
    color: seashell;
    padding-block-end: 30px;
}
h3{
    background-color:rgba(22, 26, 36, 0.904);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-block-end: 1px;

}
a{
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    color: seashell;
    margin-right: 35px;
    margin-left: 25px;
    
}


